/* ------- Profile Info ------- */
.personal-info-container {
  width: 700px;
  height: 420px;
  background: rgb(222,222,222);
  background: linear-gradient(140deg, rgb(207, 207, 207) 0%, rgb(211, 211, 211) 20%, rgb(236, 236, 236) 62%, rgba(236,236,236,1) 100%);
  border-radius: 20px;
  margin-top: 90px;
  box-shadow: 5px 5px 8px #a1a1a1;
}

.personal-info-bio {
  width: 50%;
  letter-spacing: .02em;
}

.profile-info-span {
  font-weight: bold;
}

.personal-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.personal-info-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.personal-info-image {
  border-radius: 50%;
  margin-right: 40px;
  margin-left: 20px;
}

/* MenuSettingsContainer */
.MenuSettingsContainer {
  position: relative;
  left: 10px;
  width: 21%;
  height: 590px;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 5px 5px 8px #a1a1a1;
  background-color: #2a2a72;
  background-image: linear-gradient(140deg, #3939b9 0%, #4bbcfdec 99%);
}

.profile-info-img {
  width: 400px;
  height: 280px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}



/* ------ Profile Languages ------- */

.profile-lang-container {
  width: 700px;
  height: 420px;
  background: rgb(222,222,222);
  background: linear-gradient(140deg, rgb(207, 207, 207) 0%, rgb(211, 211, 211) 20%, rgb(236, 236, 236) 62%, rgba(236,236,236,1) 100%);
  border-radius: 20px;
  margin-top: 90px;
  box-shadow: 5px 5px 8px #a1a1a1;
}



/* -------- Menu Settings ------- */

.menu-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #a1a1a1;
  background-color: #2a2a72;
  background-image: linear-gradient(140deg, #3939b9 0%, #4bbcfdec 99%);
}

.menu-container {
  width: 200px;
  display: flex;
  flex-direction: column;
}