/* -------- Text Fields ------- */
.container {
  background-color: #b3b3b3c0;
  border-radius: 10px;
  position: relative;
  right: 10px;
}

.smallbtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.reviews-container {
  width: fit-content;
  height: fit-content;
}

.reviews {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 150px;
  bottom: 30px;
}